@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Bellota:wght@700&family=Black+Ops+One&family=Michroma&family=Montserrat:wght@500;700&family=Orbitron:wght@700&family=Piedra&family=Poiret+One&family=Seaweed+Script&display=swap');


*{
    margin: 0;
    padding: 0;
}

body{
    background-color: bisque;
}

.navItem{
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    margin-left: 20px;
}
.para{
    margin: 10px 10%;
    text-align: justify;
    font-family: 'Bellota', cursive;
    font-size: x-large;
}
.para::before{
    margin-left: 50px;
    content: 'O';
    font-weight: 900;
    font-size: 200%;
}
.para::after{
    content: ' Login to Access your ToDo LIst';
    font-size: 110%;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}
.box{
    width: 350px;
    padding: 20px;
    position: absolute;
    top: 520px;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    background: beige;
    border: 2px solid grey;
    border-radius: 10px;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .5) ;
    overflow: hidden;
}
.box h1{
    text-align: center;
    text-transform: uppercase;
    margin-top: 30px;
    font-family: 'Piedra', cursive;
    color: black;
    font-size: 40px;
}
.box input[type = "text"], .box input[type="password"]{
    background: white;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 1px solid grey;
    padding: 14px 10px;
    width: 250px;
    outline: none;
    color: black;
    font-family: "Montserrat", sans-serif;
    border-radius: 10px;
    transition: 0.25s;
}
.box input[type = "text"]:focus, .box input[type="password"]:focus{
    width: 300px;
    border-color: black;
}
.login-btn{
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid red;
    padding: 14px 40px;
    width: 150px;
    outline: none;
    color: red;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-weight: bold;
    border-radius: 20px;
    transition: 0.25s;
    cursor: pointer;
}
.login-btn:hover{
    background: red;
    transform: scale(0.8);
    color: #fff;
}
.b1{
    text-decoration: none;
    text-align: center;
    color: black;
    font-family: 'Black Ops One', cursive;
    font-size: 14px;
    padding: 10px;
    transition: 0.8s;
    display: block;
}
.b2{
    text-decoration: none;
    text-align: center;
    color: black;
    font-family: 'Black Ops One', cursive;
    font-weight: bold;
    font-size: 18px;
    padding: 10px;
    transition: 0.8s;
    display: block;
}
.b1:hover{
    background: rgba(0, 0, 0, .3);
    border-radius: 10px;
}
.b2:hover{
    background: rgba(0, 0, 0, .3);
    border-radius: 10px;
}

footer{
    position: absolute;
    bottom: -250px;
    margin-left: 38%;
    font-weight: bold;
    font-family: 'Poiret One', cursive;
}